body{
    background-color: #F3F5FC ;
}

header{
    width: 40%;
}

.logo{
    padding: 5%;
    width: 10%;
}

.texto{
    color: #609ED4;
    padding-left: 15%;
    font-style: italic;
    font-size: 2em;
    margin-top: 2em;
    border: none;
    background-color: #F3F5FC;
    outline: none;
}

.encriptado{
    width: 25%;
    position: absolute;
    right: 2%;
    top: 0px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10% 5% 5%;
    height: 95%;
    margin-top: 2%;
    margin-bottom: 2%;
    display: block;
}

.textoEncriptado{
    font-size: 2em;
}

.textoEncriptado::before{
    content: "\1F510";
}

.sinMensaje{
    margin-bottom: 3em;
    margin-left: 2em;
    width: 90%;
    text-align: center;
}

.encriptado h2{
    font-size: 2em;
    text-align: center;
}

.encriptado h2, p{
    margin: 1em 0px;
}

.encriptado p{
    text-align:center;
    width: 110%;
    font-size: 1.3em;
}

.encriptador{
    position: absolute;
    bottom: 7%;
    left: 15%;   
    width: 60%;
}

.encriptador p::before{
    content: "\2757";
}

.encriptador p{
    font-size: 2em;
    text-align: left;
}

.encriptar, .desencriptar{
    padding: 2em;
    width: 45%;
    border: none;
    border-radius: 30px;
    font-size: 1em;
    font-weight: bold;
    margin-right: 1em;
    display: inline-block;
}

.encriptar{
    background-color: #0A3871;
    color: white;
}

.desencriptar{
    background-color: #ADB5BD;
    color: #0A3871;
}

@media screen and (max-width: 640px){
    body{
        width: auto;
        margin: auto
    }

    .logo{
        width: 70%;
        margin-top: 10%;
    }

    .sinMensaje{
        display: none;
    }

    .desencriptar, .encriptado, .encriptador, .texto, .textoEncriptado{
        width: auto;
    }

    .encriptado{
        position: relative;
    }

    .encriptador{
        position: absolute;
        margin-bottom: 60%;
    }

    .encriptar, .desencriptar{
        width:85%;
        display: block;
        margin-bottom: 5%;
    }

    .encriptado{
        text-align: center;
        margin: 0% 0% 10% 5%;       
    }

}

@media screen and (max-width: 1007px){
    .sinMensaje{
        display: none;
    }
}

